__pycache__/
/cpp/search
/cpp/tester
/target/
/*.smiles
/prints.html
flamegraph.svg
perf.data*

output/**/*.smiles
/data/chembl_33.smiles
NCI-Open_2012-05-01.sdf
ZINC-downloader-3D-sdf.gz.curl
chembl_33.sdf
/callgrind.out
/slow.log

output/*.html
/.output.bak/
